{% extends 'index.html' %} {% block content %}
  <div class="registerform" style="height:1150px; width:800px; background-color:lightgrey; padding: 50px; margin-left:315px; border-style:groove;">
  <form method="POST" enctype="multipart/form-data">
    <h2>Register</h2>
    <br />
    {% csrf_token %}
    <div class="mb-1">
      <label for="exampleFormControlInput" class="form-label">UserName:</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="exampleFormControlInput"
        placeholder="UserName"
      /><br />
    </div>
    <div class="mb-2">
      <label for="exampleFormControlInput" class="form-label"
        >FirstName:</label
      >
      <input
        type="text"
        class="form-control"
        name="first_name"
        id="exampleFormControlInput"
        placeholder="e.g.karthik"
      /><br />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput" class="form-label">LastName:</label>
      <input
        type="text"
        class="form-control"
        name="last_name"
        id="exampleFormControlInput"
        placeholder="e.g. ks"
      /><br />
    </div>
    <div class="mb-4">
      <label for="exampleFormControlInput2" class="form-label">Phone Number:</label>
      <input
        type="number"
        class="form-control"
        name="phone"
        id="exampleFormControlInput"
        placeholder="e.g.phone"
      /><br />
    </div>
    <div class="mb-4">
      <label for="exampleFormControlInput2" class="form-label">Email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="exampleFormControlInput"
        placeholder="Email"
      /><br />
    </div>
    <div class="mb-5">
      <label for="exampleFormControlInput2" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control"
        name="Password1"
        id="exampleFormControlInput"
        placeholder="Password"
      /><br />
    </div>
    <div class="mb-6">
      <label for="exampleFormControlInput2" class="form-label"
        >ConfirmPassword:</label
      >
      <input
        type="password"
        class="form-control"
        name="Password2"
        id="exampleFormControlInput"
        placeholder="ConfirmPassword"
      /><br />    
    </div>
      <label class="form-check-label" for="flexCheckDefault">
        User Type:
      </label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="user-type" value="doctor" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Doctor
        </label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="user-type" value="patient" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Patient
        </label>
      </div><br>
      <div class="mb-7">
        <label for="exampleFormControlInput2" class="form-label"
          >Upload-Profile:</label
        >
        <input
          type="file"
          class="form-control"
          name="profile_img"
          id="exampleFormControlInput"
          placeholder="upload"
        /><br />
      </div>
    <input type="submit" value="submit" />
  </form>
</div>
{% endblock %}

